/* Blue Color Palette used in template:
	
	color  1: #5a5e62 	Top background color
	color  2: #7a7a7a 	Left link color
	color  3: #93acc4	Hinky foreground color
	color  4: #809eba 	Top navbar background/matching hinkies
	color  5: #f1f2f2 	Alternative background color 1 (or #b9cbdc or #d1d7dc)
	color 5a: #f6f6f6 	Alternative background color 2 
	color  6: #f6f6f6 	Field background color
	color  7: #333333	Page Header text
	color  8: #990000	link highlight
	color  9: #426696	link in text runs
	color 10: #5C6166	Left link color selected
	color 11: #949494	Highlight border color for color 18
	color 12: #616161	Shadow border color for color 18
	color 11a:#D3E1ED	Highlight for color 4
	color 12a:#BCC8D4	Shadow for color 4
	color 13: #4d4d4d 	dark gray (normal text)
	color 14: #ffffff	white
	color 15: #808080	medium gray
	color 16: #bebebe	line gray
	color 17: #000000	black
	color 18: #7a7a7a 	Field border color
*/

/* ----  Basic HTML Tags  ---- */
body, td, th, p { 
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #4d4d4d;  			/* $Color 13 */
	margin: 0;
	}

p {
	padding-bottom: 9px;
	}

a {
	color: #426696; 			/* $Color 9 */
	text-decoration: none;
	}
a:hover {
	color: #990000;				/* $Color 8 */
	text-decoration: underline;
	}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	font-weight: bold;
	color: #333333; 			/* $Color 7 */
	}
h1 { font-size: 18px; line-height: 18px; margin:  0px 0 6px 0; padding:0px; }
h2 { font-size: 18px; line-height: 20px; margin: 12px 0 6px 0; padding:0px; }
h3 { font-size: 14px; line-height: 16px; margin: 12px 0 4px 0; padding:0px; }
h4 { font-size: 13px; line-height: 15px; margin:  8px 0 3px 0; padding:0px; }
h5 { font-size: 12px; line-height: 14px; margin:  8px 0 2px 0; padding:0px; }
h6 { font-size: 11px; line-height: 13px; margin:  2px 0 1px 0; padding:0px; }
h7 { font-size: 10px; line-height: 12px; margin:  2px 0 1px 0; padding:0px; }

img { border-width: 0; }
.img_inline_left  { border-width: 0; padding: 0px; margin: 3px 10px 0px 0px; }
.img_inline_right {	border-width: 0; padding: 0px; margin: 3px 0px 0px 10px; }

hr {
	height:1px;
	color: #bebebe;				/* $Color 16 */
	margin-bottom: 2px;
	border-width: 0px;
	border-bottom-width: 1px;
}

.hr_thick {
	color: #bebebe;				/* $Color 16 */
	margin-bottom: 2px;
	height: 1px;
	border-color: #bebebe;		/* $Color 16 */
	border-width: 0px;
	border-bottom-width: 4px;
	border-style: solid;
}

usat_tooltip {
	position: absolute;
	border: 1px solid black;
	background-color: blue;
	color: white;
	overflow: hidden;
	visibility: hidden;
	z-index: 100;
}

.weeklyReturnDraw {
	border-color: black;		
	border-width: 0px;
	border-bottom: 0px solid black;
	border-top: 0px solid black;
	border-left: 0px solid black;
	border-right: 0px solid black;
	margin-bottom: 0px
}

.box1 {
	/* filter:alpha(opacity=90);
	# opacity: 0.9;
	# -moz-opacity:0.9;		 */
}

DIV.boxBCDrawHist {
	
}

.ZeroDrawTable {
	border-color: black;		
	border-width: 0px;
	border-bottom: 3px solid #90a0b8;
	border-top: 3px solid #90a0b8;
	border-left: 3px solid #90a0b8;
	border-right: 3px solid #90a0b8;
	top: 100px;
	position: relative;
}

.WindowOptionsDiv {
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 1px
}

.WindowOptionsTable {
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 2px
}

/* ----  Header Area ---- */
.topAreaBox {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 125px;
	z-index: 1;
	background-color: #d0d8ed;	/* $Color 1 */
	}

.topAreaLogo {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	}

.topAreaLogoLine {
	position: absolute;
	left: 0px;
	top: 125px;
	z-index: 1;
	}

.topAreaDatePlacement {
	position: absolute;
	left: 434px;
	top: 7px;
	z-index: 10;
	font-weight: bold;
	color: #4d4d4d;
	width: 350px;
	text-align: right;
}
	
/* original background for the bread crumb links */
.topNavBk {
	position: absolute;
	left: 0px;
	top: 128px;
	width: 100%;
	height: 20px;
	background-color: white; 	/* $Color 4 */
	z-index: 0;
	}

.topNav {
	position: absolute;
	left: 285px;
	top: 104px;
		}

.topNav, .topNav td, .topNav a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .05em;
	color: white;
	z-index:10;
	}
.topNav td {
	padding: 2px 20px 0 0;
	}
.topNav a {
	color: #ffffff;					/* $Color 14 */
	text-decoration: none;
	}

.navTrailLoc {
	position: relative;
	left: 10px;
	top: -5px;
	}
	
.navTrail {
	font-size: 10px;
	line-height: 16px;
	color: #324ca0; 				/* $Color 9 */
	}

/* ----  Main Area ---- */

.mainBox {
	position: absolute;
	left: 0px;
	top: 145px;
	margin: 0px;
	padding: 0px;
}
.mainWideBox {
	position: absolute;
	left: 30px;
	top: 133px;
	z-index: 5;
	width: 95%;
	}
.mainBodyAreaLoc {
	position: absolute;
	left: 5px;
	top: 20px;
	z-index: 5;
	width: 95%;
}
	
.leftNavTD {
	width: 180px;
	background-color: #d3dbee; 	/* $Color 5 */
}
.leftNavBox {
	position: relative;
	left: 10px;
	top: 16px;
	width: 170px;
	z-index: 5;
	line-height: 13px;
	color: #7a7a7a;					/* $Color 2 */
}
.leftNavDIV_L1, .leftNavDIV_L2, .leftNavDIV_L3, .leftNavDIV_L4, .leftNavDIV_L5 { padding-bottom: 5px; }
.leftNavDIV_L1 { margin-left: 0; }
.leftNavDIV_L2 { margin-left: 15px; }
.leftNavDIV_L3 { margin-left: 30px; }
.leftNavDIV_L4 { margin-left: 45px; }
.leftNavDIV_L5 { margin-left: 60px; }
.leftNavDIV_L1 a, .leftNavDIV_L2 a, .leftNavDIV_L3 a, .leftNavDIV_L4 a, .leftNavDIV_L5 a {	color: #7a7a7a;	}	/* $Color 2  */
.leftNav_Selected { font-weight: bold; color: #5C6166; }							/* $Color 10 */

.bottomNavAreaImage {
	position: relative;
	left: -2px;
	bottom: 3px;
	z-index: 5;
	display: none; /* do n0t display newspaper image */
}

.noDisplay {
	display: none;
}

.mainContentTD {
	width: 480px;
}
.mainContentBox {
	position: relative;
	left: 12px;
	top: 16px;
	z-index: 5; 
	width: 458px;
}
.mainContentWidth {
	width: 458px;
}
.mainContentWideTD {
}
.mainContentWideBox {
	position: relative;
	left: 12px;
	top: 16px;
	z-index: 5;
	width: 95%;
	margin-bottom: 17px;
}

.mainContentHelpIcon {
	position: absolute;
	left: 520px;
	top: -5px;
	z-index: 6;
}

.rightColumnTD {
	background-color: #f6f6f6 ; 	/* $Color 5a */
	}
.rightColumnBox {
	position: relative;
	left: 17px;
	top: 16px;
	width: 180px;
	z-index: 5;
	font-size: 11px;
	line-height: 15px;
	color: #808080;					/* $Color 15 */
	}

/* ---- Optional Footer:  Displayed if a group assigned to the footer nav bar ---- */
.footer {
	background-color: transparent;
	border-top: 0px solid #000000;	/* $Color 16 */
	font-size: 9px;
	margin: 0px 0px 10px 0px;
	}
.footer, .footer td, .footer a {
	color: #808080;					/* $Color 15 */
	}
.footerImage {
	position: relative;
	border: 0px;
	margin: 0px;
	z-index: 0;
	}
/* ---- Optional Top Right Navigation:  Displayed if a group assigned to the top right nav bar ---- */
.topNavRight {
	position: absolute;
	left: 80%;
	top: 42px;
	width: 150px;
	z-index: 5;
	line-height: 1.4em;
	}
.topNavRight, .topNavRight li {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .05em;
	list-style-type: square;
	color: #93acc4; 				/* $Color 3 */
	}
.topNavRight li a {
	color: #ffffff;					/* $Color 14 */
	text-decoration: none;
	list-style-position: outside;
	}
.topNavRight li a:hover {
	color: #ffffff;					/* $Color 14 */
	text-decoration: underline;
	list-style-position: outside;
	}

.fineprint {
	
	font-size: 9px;
}

/* ----  Forms  ---- */
form {
	margin:0px;
	padding:0px;
}
form .textInput { 
	border: 1px solid #7a7a7a; 		/* $Color 18 */
	background-color: #f6f6f6; 		/* $Color 6  */
	color: #000000; 				/* $Color 17 */
	font-size: 1.2em; 
	padding-left: 3px; 
}

form .textArea {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	border: 1px solid #7a7a7a; 		/* $Color 18 */
	background-color: #f6f6f6; 		/* $Color 6  */
	color: #000000;  				/* $Color 17 */
	font-size: 1.2em; 
	padding-left: 3px; 
	}

form .button {
	background-color: #7a7a7a; 		/* $Color 18 */
	color: #ffffff;					/* $Color 14 */
	border-width: 1px;	
	border-style: solid;
	border-left-color: #949494;		/* $Color 11 */
	border-top-color: #949494;		/* $Color 11 */
	border-bottom-color: #616161;	/* $Color 12 */
	border-right-color: #616161;	/* $Color 12 */
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	padding: 0px 5px 0px;
	}

form .textLabel {
	color: #4d4d4d; 				/* $Color 13 */
	}

form .textLabelReq { 
	font-weight: bold; 
	color: #4d4d4d;					/* $Color 13 */
	}

/* ----  Sample Icons  ---- */

/* Use as image: <img class="arrow" src="../images/1x1.gif"/> */
img.arrow {
	height: 12px;
	width: 12px;
	margin: 0 5px 0 0;
	vertical-align: -2px;
	background-color: #93acc4; 		/* $Color 3 */
	background-image: url("/bizreg/theme/arrow-graphic-up-clear.gif");
}
/* Use as link: <a class="arrow"href="#">...</a> */
a.arrow, a.arrow:hover{
	height: 12px;
	width: 12px;
	line-height:12px;
	margin: 0 5px 0 0;
	display: block;
	background-color: #93acc4; 		/* $Color 3 */
	background-image: url("/bizreg/theme/arrow-graphic-up-clear.gif");
}
a.arrow:hover {
	background-color: #809eba; 		/* $Color 4 */
	text-decoration: none;
}
/* Other sample icon images */
.otherImages {
	background-image: url("/bizreg/theme/arrow-graphic-down-clear.gif");
	background-image: url("/bizreg/theme/arrow-graphic-left-clear.gif");
	background-image: url("/bizreg/theme/arrow-graphic-right-clear.gif");
	background-image: url("/bizreg/theme/go-graphic-clear.gif");
}

