/********************************
 *	Faces Components Stylesheet *
 ********************************/

.commandExButton {
	background-color: #7a7a7a;		/* $Color 18 */
	color: #ffffff;					/* $Color 14 */
	border-style: solid;
	border-width: 1px;
	border-left-color: #949494;		/* $Color 11 */
	border-top-color: #949494;		/* $Color 11 */
	border-bottom-color: #616161;	/* $Color 12 */
	border-right-color: #616161;	/* $Color 12 */
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	padding: 0px 5px 0px;	
}

.commandExButtonSmall {
	background-color: #7a7a7a;		/* $Color 18 */
	color: #ffffff;					/* $Color 14 */
	border-style: solid;
	border-width: 1px;
	border-left-color: #949494;		/* $Color 11 */
	border-top-color: #949494;		/* $Color 11 */
	border-bottom-color: #616161;	/* $Color 12 */
	border-right-color: #616161;	/* $Color 12 */
	font-size: 11px;
	font-weight: bold;
	height: 18px;;
	padding-bottom: 0px;
	width: auto;
	padding-top: 0px;
	padding-right: 1px;
	padding-left: 1px;
	margin-top:2px;
}

.commandExButton_Label {
	color: #ffffff;					/* $Color 14 */
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.commandLink {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
}

.outputLinkEx {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
}

.outputLinkEx2 {
	color: red;					/* $Color 9  */
	text-decoration: none;
}

a.outputLinkExNoUnderline {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
}

a.outputLinkExNoUnderline:hover {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
	cursor: default;
}

.graphicImageEx { border-width: 0; }
.graphicImageEx_inline_left  { border-width: 0; padding: 0px; margin: 3px 10px 0px 0px; }
.graphicImageEx_inline_right {	border-width: 0; padding: 0px; margin: 3px 0px 0px 10px; }

.outputLabel {
}

.inputText {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.drawInputText {
}

.returnInputText {
}

.dmEditField {
}

.inputTextAlt {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #ffffdd;		/* $Color 6  */
	color: #000000;				/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}
	


.inputText_disabled {
	color: #6a6a6a;					
	font-size: 1.2em;
	padding-left: 3px;
	border: 1px solid #ffffff;
}

.inputText_disabledV2 {
	color: black;					
	font-size: 1.2em;
	padding-left: 3px;
	border: 1px solid #ffffff;
}

.inputText_CurrentDay {
	color: black;					
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 2px;
	background-color: #80ffff;
	border: 1px solid #000000;
}

.inputText_Error {
	border: 1px solid #990000;		/* $Color 8 */
	background-color: red;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.inputText_Error2 {
	border: 1px solid #990000;		/* $Color 8 */
	background-color: white;		
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}
.inputTextarea {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.inputSecret {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.outputText {
}

.outputText_Med {
	font-size: 1.1em;
}

.outputText_LG {
	font-size: 1.4em;
}

.outputText_Sm {
	font-size: 0.9em;
}

LI.helpfaqQuestions {
	margin-bottom: 10px;
	margin-top: 2px;
	
}
	
.outputText_help_question {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	background-color: white;		/* $Color 6  */
	color: #0078c0;					
	font-size: 1.2em;
	font-weight: 600;
	margin-left: 3px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.outputText_help_question_header {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	background-color: white;		/* $Color 6  */
	color: #0078c0;					
	font-size: 1.4em;
	font-weight: 700;
	margin-left: 3px;
}

.outputText_help_answer {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	background-color: white;		/* $Color 6  */
	color: #4d5b91;					/* $Color 17 */
	font-size: 1.1em; 
	margin-left: 0px;
	margin-bottom: 0px;
}

.outputText_helpHeader {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: bold;
	background-color: white;		
	color: #426696;					/* $Color 9  */
	font-size: 1.4em;
	margin-left: 2px;
	margin-top: 10px;
}

.outputFormat {
}

.outputSeparator {
	height: 1px;
	color: #bebebe;					/* $Color 16 */
	margin-bottom: 2px;
	border-width: 0px;
	border-bottom-width: 1px;
}

.outputSeparator_thick {
	color: #bebebe;					/* $Color 16 */
	margin-bottom: 4px;
	height: 1px;
	border-color: #bebebe;			/* $Color 16 */
	border-width: 0px;
	border-bottom-width: 4px;
	border-style: solid;
}

.outputTextAlt {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #ffffdd;		/* $Color 6  */
	color: #000000;				/* $Color 17 */
	font-size: 0.96em;
	padding-left: 0px;
}

.outputTextAltDanger {
	background-color: #ff5340;		
	color: #FFFFFF;
	font-weight: bold;
}

.outputOKArea {
	background-color: green;		
}

.outputWarningArea {
	background-color: yellow;		
}

.outputDangerArea {
	background-color: red;		
}


.message {
	font-size: 11px;
	color: #de5c5c;
}

.messages {
	font-size: 11px;
	color: #de5c5c;
}

.selectBooleanCheckbox {
}

.selectBooleanCheckbox_Label {
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.selectOneRadio {
	margin: 0px; padding: 0px;
}

.selectOneRadio label {
	margin-left: -5px;
}

.selectOneRadio_Disabled {
	color: GrayText;
}

.selectManyCheckbox {
}

.selectManyCheckbox label {
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	margin-left: -5px;
}

.selectManyCheckbox_Disabled {
	color: GrayText;
}

.selectOneListbox {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.selectManyListbox {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.selectOneMenu {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.fileupload {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.panelBox {
}

.panelLayout {
}

.panelGrid {
}

.jspPanel {
}

.playerGenericPlayer {
}

.playerFlash {
}

.playerShockwave {
}

.playerRealPlayer {
}

.playerMediaPlayer {
}

/*************************************
 *	Compound Component:  Action Bar  *
 *************************************/

.panelActionbar {
}

.panelActionbar A:link {
	text-decoration: none;
}

.panelActionbar A:visited {
	text-decoration: none;
}

.panelActionbar A:hover {
	text-decoration: underline;
}

.panelActionbar IMG {
	border: 0;
}

.panelActionbar TD {
	padding: 1;
}

/******************************************
 *	Compound Component:  Slider Dropdown  *
 ******************************************/

.inputText_Slider {
	background-color: #f1f2f2;		/* $Color 5  */
	border: 2px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4 */
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-decoration: none;
	color: #4d4d4d;					/* $Color 13 */
}

.inputText_Slider_Body {
	background-color: #809eba;		/* $Color 4  */
	color: #809eba;					/* $Color 4  */
	border-style: solid;
	border-color: #D3E1ED;			/* $Color 11a */
	border-right-color: #BCC8D4;		/* $Color 12a */
}

/**********************************************
 *	Compound Component:  DatePicker Dropdown  *
 **********************************************/

.inputText_DatePicker {
	background-color: #ffffff;		/* $Color 14 */
	border: 2px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4  */
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4d4d4d;					/* $Color 13 */
	padding: 2px;
	margin: 0px;
}

.inputText_DatePicker-Size {
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4 */
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: #ffffff;		/* $Color 14 */
}

.inputText_DatePicker-HeaderLine1,
.inputText_DatePicker-HeaderLine2,
.inputText_DatePicker-HeaderWeekday, 
.inputText_DatePicker-HeaderYear,
.inputText_DatePicker-HeaderMonth {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
	background-color: #f1f2f2;		/* $Color 5 */
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderYear {
	color: #4d4d4d;					/* $Color 13 */
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.inputText_DatePicker-HeaderMonth {
	color: #4d4d4d;					/* $Color 13 */
	padding-bottom: 3px;
}

.inputText_DatePicker-Button {
	border: 0px;
	width: 12px;
	height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
}

.inputText_DatePicker-HeaderWeekday {
	color: #809eba;					/* $Color 4 */
	background-color: #f6f6f6;		/* $Color 6 */
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 2px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #809eba;			/* $Color 4 */
	border-style: solid;
}

.inputText_DatePicker-OtherMonth,
.inputText_DatePicker-CurrentMonth,
.inputText_DatePicker-CurrentDay, 
.inputText_DatePicker-CurrentOtherDay, 
.inputText_DatePicker-InvalidDay, 
.inputText_DatePicker-Today,
.inputText_DatePicker-CurrentToday {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;			/* $Color 14 */
	width: 21px;
	height: 23px;
	padding: 0px;
	padding-left: 4px;
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	background-color: #ffffff;		/* $Color 14 */
}

.inputText_DatePicker-CurrentMonth {
	color: #4d4d4d;					/* $Color 13 */
	background-color: #f1f2f2;		/* $Color 5  */
}

.inputText_DatePicker-CurrentDay {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

.inputText_DatePicker-CurrentOtherDay {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: #f6f6f6;		/* $Color 6 */
	border-color: #f6f6f6;			/* $Color 6 */
}

.inputText_DatePicker-Today {
	color: #4d4d4d;					/* $Color 13 */
	font-weight: bold;
	background-color: #bebebe;		/* $Color 16 */
}

.inputText_DatePicker-CurrentToday {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

/*************************************
 *	Compound Component:  Data Grid   *
 *************************************/
.breakhere {
	page-break-before: always
}

.dataTable {
}

.dataTableDailyPO {
	border-width: 1px;
	border-color: #e5e5e5;			/* $Color 4 */
	border-style: solid;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
}

.headerClass {
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #e5e5e5;		/* $Color 11a */
	border-width: 1px;
	border-style: solid;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 1px;
	padding-top: 2px;
	font-weight: bold;
	text-align: left;
}

.headerClass2 {
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #e5e5e5;		/* $Color 11a */
	border-width: 0px;
	border-style: solid;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 0px;
	padding-top: 0px;
	font-weight: bold;
	text-align: left;
}

.footerClass {
	background-color: #e5e5e5;		/* $Color 11a */
	border-width: 0px;
	border-style: none;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	font-weight: 400;
	text-align: right;
	vertical-align: middle;
}

.rowClass1 {
	background-color: #ffffff;		/* $Color 14 */
}

.rowClass2 {
	background-color: #d3dbee;
}

.rowClass3 {
	background-color: #dedede;
}

.columnClass1 {
}

.columnClass2 {
}

.columnClass3 {
	border-width: 1px;
	border-style: solid;
	border-color: #8fa4b8;
}

.panelRowCategory {
}

.inputRowSelect {
	vertical-align: middle;
	margin: 0px;
	margin-top: 1px;
	margin-left: 3px;
}

.commandExRowEdit {
	
}

.editStyleClass {
	background-color: Window;
	border-color: #809eba;			/* $Color 4  */
	border-style: solid;
	border-width: 1px;
	padding-bottom: 4px;
	text-align: right;
}

.editStyleClass A {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	width: 1px;
	height: 1px;
}

.pagerSimple {
	margin: 0px;
	padding: 0px;
}
.pagerSimple input {
	position: relative;
	top: 1px;
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}
.pagerSimple select {
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerGoto {
	margin: 0px;
	padding: 0px;
}
.pagerGoto > input {
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}
.pagerGoto span input {
	position: relative;
	top: 1px;
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerWeb {
	color: #4d4d4d;					/* $Color 13 */
}

.outputStatistics {
	color: #4d4d4d;					/* $Color 13 */
}

.pagerDeluxe {
	border-color: #BCC8D4;			/* $Color 12a */
	border-width: 1px;
	border-style: solid;
}

.pagerDeluxe TD {
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: #809eba;			/* $Color 4  */
	border-left-color: #f6f6f6;		/* $Color 6  */
	border-top-color: #f6f6f6;		/* $Color 6  */
	border-style: solid;
	background-color: transparent;
}

.pagerDeluxe_button {
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	border-style: none;
	width: 22px;
	height: 19px;
}

.pagerDeluxe_text {
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
	border-width: 0px;
	font-size: 12px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerDeluxe_button_twistie {
	color: #93acc4;					/* $Color 3  */
	border-color: #4d4d4d;			/* $Color 13 */
	list-style-type: none;
}

.borderedTable {
	border-color: #7D95B3;
	border-width: 3px;
	border-style: solid;
}
/********************************
 *	Tabbed Panel: Style 4		*
 *								*
 *	SlantActiveLeft = 0			*
 *	SlantInactiveLeft = 0		*
 *	SlantActiveRight = 0		*
 *	SlantInactiveRight = 0		*
 ********************************/
.tabbedPanel_4 {
	background-color: transparent;
	border-width: 0px; 
	padding: 0px;
	margin: 0px;
}
.tabbedPanel_4-Header {
	border-width: 0px; 
	border-bottom-width: 3px; 
	border-style: solid;
	border-color: #7D95B3;
	padding: 0px;
	padding-top: 4px;
	padding-left: 8px;
	margin: 0px;
}
.tabbedPanel_4-Header TABLE {
	margin-right: 2px
}
.tabbedPanel_4-TabActive, .tabbedPanel_4-TabInactive {
	font-family: sans-serif; 
	font-size: 10pt;
	text-decoration: none;
	border-width: 0px;
	border-bottom-width: 2px;
	border-style: solid; 
	padding: 5px; 
	padding-top: 3px;
	padding-bottom: 3px; 
}
.tabbedPanel_4-TabActive {
	background-color: #7D95B3;
	border-color: #7D95B3; 
	color: window;
	font-weight: bold;
}
.tabbedPanel_4-TabInactive {
	background-color:#DEDEDE; 
	border-color: window; 
	color: windowtext;
	font-weight: 400;
}
.tabbedPanel_4-HyperActive {
	color: window;
	text-decoration: none;
}
.tabbedPanel_4-HyperInactive {
	color: windowtext;
	text-decoration: none;
}
.tabbedPanel_4-Body {
	background-color: transparent; 
	border-width: 0px;
	padding: 4px;
}
.tabbedPanel_4-Footer {
}
.tabbedPanel_4-Footer INPUT {
	margin: 0px;
	margin-left: 6px;
}
/*Use for getting all the system image icons*/
.tabbedPanel_4-classForTabSysIcons {
	/*Sample style, please uncomment the following line and modify the icons path if you want use your own customized system icons*/
	/*list-style-image:url("|previous=jsl/tab/icons/previous.gif|disprevious=jsl/tab/icons/previous_disabled.gif|next=jsl/tab/icons/next.gif|disnext=jsl/tab/icons/next_disabled.gif|");*/
}

/*************************************
 *	Compound Component:  Draw Management Table   *
 *************************************/
.usatdm_table {
	border-color: white;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid; 
	padding: 1px; 
	padding-top: 1px;
	padding-bottom: 1px; 
 }

.divAlignTop {
	position: relative;
	vertical-align: top;
	
}
	
.usatdm_row1 {
 	background-color: white;
 }
 
.usatdm_row2 {
 	background-color: #e5e5e5;
 }
 