    .toolbar {
        
        background-color: #C0C0C0;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
        border-left: 1px solid #ffffff;
    }
    
    .toolbarButton {
        
        background-color: #C0C0C0;
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #C0C0C0;
    }

    .toolbarButtonRollover {
        
        background-color: #C0C0C0;
        padding: 3px;

        border-bottom: 1px solid #999999;
        border-left: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #999999;        
    }
    
    .toolbarButtonPressed {
        
        background-color: #aaaaaa;
        padding: 3px;
        border-top: 1px solid #999999;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #999999;
    }

    .toolbarButtonSelected {
        
        background-color: #cccccc;
        padding: 3px;        
        border-top: 1px solid #999999;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #999999;
    }

    .toolbarButtonSelectedRollover {
        
        background-color: #cccccc;
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #999999;
    }

    .toolbarControl {
        
        padding: 3px;
    }

    .toolbarSeparator {
        
    
        background-color: #999999;
        width: 1px;
        margin: 0px;
        padding: 0px;
        border-top: 0px none #999999;
        border-right: 1px solid #ffffff;
        border-bottom: 0px none #ffffff;
        border-left: 0px none #999999;        
    }
    
    .textarea {    
        background-color: #C0C0C0;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
        border-left: 1px solid #ffffff;
    }
    
    .textareaText {   
        font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
    }          
 
    
